/* Style the track */
input[type="range"].slider {
    -webkit-appearance: none; /* Remove default styles (webkit) */
    appearance: none; /* Remove default styles (non-webkit) */
    width: 292px;
    height: 62px; /* Adjust the height to increase thickness */
    background: #d9d9d9; /* Track background color */
    border-radius: 31px; /* Rounded corners */
  }
  
  /* Style the thumb (webkit) */
  input[type="range"].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 62px; /* Adjust the thumb width */
    height: 62px; /* Adjust the thumb height */
    background: #ab8644; /* Thumb color */
    border-radius: 50%; /* Make it a circle */
    cursor: pointer;
    z-index: 999;

  }
  
  /* Style the thumb (non-webkit)
  input[type="range"].slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
  } */

  .slider{
    z-index: 999;
  }
  
  .unlock-text {
    font-size: 20px;
    font-weight: 700;
    font-family: "Inter-Regular", Helvetica;
    color: #333;
    transition: color 0.3s;
    position: relative;
    bottom: 43px;
    left: 80px;
    z-index: 1;
  
  }
